.hero {
    width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

.hero .photo {
    width: 830px;
    position: absolute;
    top: 0;
    right: 0;
}

.hero .photo img {
    width: 100%;
    display: block;
}

.hero .text_box {
    position: absolute;
    left: 20px;
    bottom: 60px;
}

.hero .text_box h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 600;    
}

.hero .text_box p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 30px;
    width: 80%;
}

.hero .text_box .btn {
    display: block;
    width: 260px;
    height: 70px;    
    background-color: var(--primary);
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

/* section_01 */
.section_01 {
    margin-bottom: 120px;
    color: var(--gray);
}

.section_01 .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section_01 .list li {
    height: 580px;
    background-color: var(--primary);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_01 .list li h3 {
    font-weight: 600;
    font-size: 32px;
}

.section_01 .list li a {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

/* section_02 */
.section_02 {
    margin-bottom: 120px;
    position: relative;
}

.section_02 h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section_02 .arrows {
    position: absolute;
    top: -6px;
    right: 0;
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
} 

.section_02 .arrows i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper_01 .thumb {
    height: 280px;
    width: 280px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.swiper_01 .title_box {
    padding: 20px 0;
}

.swiper_01 .title_box h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* section_03 */
.section_03 {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section_03 .item {
    background-color: var(--gray);
    position: relative;
}

.section_03 .item .pic {
    display: block;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.section_03 .item .user {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 9px;
}
.section_03 .item .user .user_photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}
.section_03 .item .user .names p {
    font-size: 10px;
}

/* section_04 */
.section_04 {
    margin-bottom: 165px;    
}

.section_04 h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section_04 .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section_04 .list li .thumb {
    height: 280px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.section_04 .list li .title {
    display: block;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
}

/* section_05 */
.section_05 {
    margin-bottom: 120px;
    text-align: center;    
}

.section_05 .text_box h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}
.section_05 .text_box p {
    font-size: 16px;
    line-height: 1.6;
    width: 44%;
    margin: 30px auto 50px;
}
.section_05 .text_box .btn2 {
    display: block;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--primary);
    color: var(--gray);
    margin: 0 auto;
    line-height: 40px;
}


@media (max-width: 576px) {
    .hero {
        width: 100%;
        height: initial;
        margin-top: 60px;
        margin-bottom: 52px;
    }

    .hero .photo {
        width: 100%;
    }

    .hero .text_box {
        position: initial;
        padding-top: 320px;
        text-align: center;
    }
    
    .hero .text_box h1 {
        font-size: 28px;
    }
    
    .hero .text_box p {
        font-size: 13px;
        margin: 10px auto 30px;
        width: 64%;
    }
    
    .hero .text_box .btn {       
        margin: 0 auto;
    }

    /* section_01 */
    .section_01 {
        margin-bottom: 60px;
    }

    .section_01 .list {
        grid-template-columns: repeat(1, 1fr);
    }

    .section_01 .list li {
        height: 343px;
        padding: 30px;
    }

    .section_01 .list li h3 {
        font-size: 24px;
    }

    .section_01 .list li a {
        font-size: 14px;
    }

    /* section_02 */
    .section_02 {
        margin-bottom: 360px;
    }

    .section_02 h2 {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .section_02 .arrows {
        display: none;
    } 
 
    .swiper_01 {
        position: absolute !important;
        width: 140%;
    }

    .swiper_01 .thumb {
        height: 218px;
        width: 218px;
    }

    .swiper_01 .title_box {
        padding: 10px 0;
    }

    .swiper_01 .title_box h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .swiper_01 .title_box p {
        font-size: 12px;
    }

    /* section_03 */
    .section_03 {
        margin-bottom: 60px;
        grid-template-columns: repeat(1, 1fr);
    }

    .section_03 .item .pic {
        height: 210px;
        font-size: 14px;
    }

    /* section_04 */
    .section_04 {
        margin-bottom: 80px;    
    }

    .section_04 h2 {
        font-size: 20px;
    }

    .section_04 .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .section_04 .list li .thumb {
        height: 280px;
        background-color: var(--gray);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .section_04 .list li .title {
        display: block;
        padding: 20px 0;
        font-size: 16px;
        font-weight: 600;
    }

    /* section_05 */
    .section_05 {
        margin-bottom: 120px;
        text-align: center;    
    }

    .section_05 .text_box h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
    }
    .section_05 .text_box p {
        font-size: 16px;
        line-height: 1.6;
        width: 44%;
        margin: 30px auto 50px;
    }
    .section_05 .text_box .btn2 {
        display: block;
        width: 180px;
        height: 40px;
        border-radius: 40px;
        background-color: var(--primary);
        color: var(--gray);
        margin: 0 auto;
        line-height: 40px;
    }
}